%thead
  %tr
    <%- the_model = Object.const_get "#{model.titlecase}" -%>
    <%- the_model.column_names.each do | column | -%>
      <%- unless @skip_columns.include?(column) -%>
    %th
      = t('<%= column %>')
      <%- end -%>
    <%- end -%>
    %th
      Acciones
