%tr{:id => "<%= model.underscore%>_datatable_row_#{<%= model.underscore %>.id}"}
  <%- @the_model.column_names.each do | column | -%>
    <%- unless @skip_columns.include?(column) -%>
  %td
    = <%= model.underscore %>.<%= column %>
    <%- end -%>
  <%- end -%>
  %td
    = link_to t('edit'), edit_<%= model.underscore %>_path(<%= model.underscore %>), class: 'btn btn-primary btn-sm'