%thead
  %tr
    <%- @the_model.column_names.each do | column | -%>
      <%- unless @skip_columns.include?(column) -%>
    %th
      = t('activerecord.attributes.<%= model.underscore %>.<%= column %>')
      <%- end -%>
    <%- end -%>
    %th
      Acciones
