%table.table.table-striped#<%= model.underscore %>-datatable
  = render partial: '<%= "#{model.pluralize.underscore}/datatable_header"%>'
  = render partial: '<%= "#{model.pluralize.underscore}/datatable_footer"%>'
  %tbody
    - @<%= model.pluralize.underscore %>.each do | <%= model.underscore %> |
      = render partial: '<%= "#{model.pluralize.underscore}/datatable_#{model.underscore}"%>', locals: {<%= "#{model.underscore}"%>: <%= "#{model.underscore}"%>}