%thead
  %tr
    <%- @include_columns.each do |column_name| -%>
      <%- if @the_model.column_names.include?(column_name) -%>
    %th
      = t('activerecord.attributes.<%= model.underscore %>.<%= column_name %>')
      <%- end -%>
    <%- end -%>
    %th
      = t('actions')
